<a href="https://colab.research.google.com/github/BishalF15/Bishal/blob/master/python_by_Bishal_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day-1 : Module 1 to 1.9**

In [ ]:
#prob1
#Print something basic

print("Hello world")

Hello world

In [ ]:
#prob2

#Variables, data type, formatted string,Comment


age = 24

interest_rate=2.5

name = "Bishal Biswas"
district = 'Mymensingh'
is_sleeping = True

print(type(age))
print(type(interest_rate))
print(type(name))
print(type(is_sleeping))

print(age+interest_rate)
print(name)

print('Bishal always' + ' Single')  #add string
text = f"Bishal's age is {age} & living in {district}"
print(text)
# This is a comment
""" this is
 multiline comment/docs String """

# Ctrl + / : single line comment
# Alt+Shift+A : Multi line comment/ Docs String

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
26.5
Bishal Biswas
Bishal always Single
Bishal's age is 24 & living in Mymensingh

' this is \n multiline comment/docs String '

In [ ]:
#Prob3
#Type conversion & mathmetical operation

money1 = float(input('Rakib Give me some money: '))
money2 = float(input('Joy Give me some money: '))

print()
print(f'Rakib You gave me {money1} tk')
print("Joy you gave me ",money2,"Tk")
print("Total Money I have ",money1+money2, "Tk")

"""
Google Search: (Type Casting)
1. Convert any number to string : str
2.Conver decimal number: Float
3.Convert integer number: int
List, tuple,hex,oct,bin (aste aste dekhte hobe)
"""

Rakib Give me some money: 50
Joy Give me some money: 70

Rakib You gave me 50.0 tk
Joy you gave me  70.0 Tk
Total Money I have  120.0 Tk

' \nGoogle Search: (Type Casting)\n1. Convert any number to string : str\n2.Conver decimal number: Float\n3.Convert integer number: int\nList, tuple,hex,oct,bin (aste aste dekhte hobe)\n'

In [ ]:
#prob4

#Basic Operators

#operators: + , - , * , / , %, //(floor division)
num1= 45
num2 = 4

print("Add :",num1+num2)
print("substract :",num1-num2)
print("Multiply :",num1*num2)
print("division :",float(num1/num2)) #typecasting
print("Modulas/ remainder :",num1%num2)
print("Floor modulas",num1//num2) #purno vagfol
print("Power ",num1**num2)

Add : 49
substract : 41
Multiply : 180
division : 11.25
Modulas/ remainder : 1
Floor modulas 11
Power  4100625

In [ ]:
#Prob 5
#Basic Comparision
# >, <, ==, !=, >=, <=
#boolean value return korbe
# no: ++, --
#power: **
num1 = 12
num2 = 5

a= num1>= num2
b = num2> num1
c = num1 == num2
d = num2!=num1

print(a)
print(b)
print(c)
print(d)

True
False
False
True

In [ ]:
#prob 6
#Conditional Statement
# a++ => a+=1, a-- => a-=1
# in, not, not in, is, is not (checking operator)

boss = False


mark =float(input("Enter mark: "))

if mark>=80:
    print("You pass in the exam & Got A+")
elif mark>=60:
    print("You just pass in the exam")
else:
    print("Sorry! You are Fail")




if boss is True:
    print("Boss is Here in the meeting")
elif boss is not True:
    print("Boss is not here")
else:
    print("Chill Everyone")

Enter mark: 58
Sorry! You are Fail
Boss is not here

In [ ]:
#Prob 7
#neasted if...else

num = int(input("Enter number: "))

if num<= 100 and num>=0:
    if num%2==0:
        print("Even number")
    else:
        print("Odd number")
else:
    print("Wrong! Enter 0 to 100 number")

Enter number: 27
Odd number

In [ ]:
#Prob 8
#While LOOP , break statement

num =5
i=1

while i<=10:
    print( num ,"X",i ,"=", num*i)
    i += 1
    if i==6:
         break

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [ ]:
#Prob 9
#While loop + Continue statement
i=0
while i<25:
    i += 1
    if i%2==1:
         continue
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24

In [ ]:
#Prob 10
#For loop
# List Write into third bracket

numbers = [5,10,15,20,25] #List or Array

sum=0

print("List is : ",numbers)
for i in numbers:
    sum+=i
print("\nSum of list: ",sum)


text = "He is a Boy"

for iter in text:
    print(iter,end='')

List is :  [5, 10, 15, 20, 25]

Sum of list:  75
He is a Boy

In [ ]:
#Prob 11

#Foor LOOP + Range

num = 50.00

for i in range(1,11):
    if num%i==0:
        print(i,end='  ')
print("\n\n")
for num in range(1,5):
    print(f"Bishal {num}")

In [ ]:
#Prob 12 (practice + H.W)

#Enumerate in Foor Loop

friends = ['Muntasir','Rakib','Masuk','Shovon']

for indx,name in enumerate (friends):
    print(f'Index {indx} = {name}')

In [ ]:
# Home Work prob1

#Find largest number from three number

num1= int(input("Enter 1st Number: "))
num2= int(input("Enter 2nd Number: "))
num3= int(input("Enter 3rd Number: "))

if num1>num2 and num1>num3:
    print(f'Largest number is {num1}')
elif num2>num3:
    print(f'Largest number is {num2}')
else:
    print(f'Largest number is {num3}')

Enter 1st Number: 5
Enter 2nd Number: 9
Enter 3rd Number: 7
Largest number is 9

In [ ]:
# Home Work Prob 2

#Take three numbers from user and find sum of this three number using loop

sum = 0
for i in range(1,4):
    num = int(input(f"Enter number {i} : "))
    sum+=num
print(f'Sum of three number {sum}')

Enter number 1 : 8
Enter number 2 : 7
Enter number 3 : 5
Sum of three number 20

In [ ]:
# Home Work Prob 3

# Run a LOOP show me the odd number between 39 to 68


i = 39
print("Odd numbers between 39 to 68 are: ")

while i<69:
    if i%2==1:
        print(i,end=" ")
    i+=1

Odd numbers between 39 to 68 are:
39 41 43 45 47 49 51 53 55 57 59 61 63 65 67

In [ ]:
#Home Work prob 4
#Grade Calculator

marks = float(input("Enter marks between 0 to 100 : "))

if marks>=80:
    print('You Got A+  & CGPA 4.00')
elif marks>=70:
    print('You Got A  & CGPA 3.75')
elif marks>=60:
    print('You Got A-  & CGPA 3.50')
elif marks>=50:
    print('You Got B  & CGPA 3.25')
elif marks>=40:
    print('You Got C  & CGPA 3.00')
else:
    print("Sorry! You are fail! Retake course again")

Enter marks between 0 to 100 : 72.75
You Got A  & CGPA 3.75

**Day-2: Module 2 to 2.9**

In [ ]:
#prob1
#Introduction Function in python

def double_it(num):
    result = num*2
    print(result)

num = int(input("Enter number : "))
double_it(num)

def sum(num1,num2):
    result = num1+num2
    return result

num1 = int(input("Enter number 1 : "))
num2 = int(input("Enter number 2 : "))
res = sum(num1,num2)
print("Sum = ",res)

Enter number : 5
10
Enter number 1 : 5
Enter number 2 : 7
Sum =  12

In [ ]:
#prob2
#Default parameter & Args in function

def sum(num1,num2,num3=0):  #here num3=0 is default parameter
    res = num1+num2+num3
    return res
total = sum(99,11,5)
total1= sum(5,7) #default parameter e value pass koraw jay na korlew chole
total2 = sum(8,7,3)

print("Total1 = ",total)
print("Total2 = ",total1)
print("Total3 = ",total2)


#args
def all_sum(*num): #here " *num " is args
    print("Numbers are : ",num)

totalX = all_sum(45,13,17,5)    #args use kore multiple argument same variable e newa jay
totalX1 = all_sum(5,7)


#args 2
def summation(num1,num2, *numbers):   #1st duita input num1 num2 te store baki gula args e
    print(numbers)
    sum = 0
    for i in numbers:
        sum+=i
    return sum

totalNew = summation(45,13,75,8,9,13)  #prothom duita bade baki gula print korbe
print("All Sum = ",totalNew)

Total1 =  115
Total2 =  12
Total3 =  18
Numbers are :  (45, 13, 17, 5)
Numbers are :  (5, 7)
(75, 8, 9, 13)
All Sum =  105

In [ ]:
#prob 3
# K args

def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")


print_kwargs(name="Alice", age=30, city="Wonderland")

def a_lot(num1,num2):
    sum = num1+num2
    mult = num1*num2
    sub = num1-num2
    return sum,mult,sub
everything = a_lot(55,21)
print(everything)

name: Alice
age: 30
city: Wonderland
(76, 1155, 34)

In [ ]:
#prob 4
#Local and Global scope

balance = 3000  #"balance" is Global variable

def buy_things(item,price):
    balanceX = balance - price  #"balanceX" is Local variable
    print(f'\nBalance after buying {item}',balanceX)
buy_things('Sunglass',1000)



# Ex2:
# Global variable
global_var = "I am a global variable"

def func():
    # Local variable
    local_var = "I am a local variable"
    print("\nInside the function:")
    print("Local variable:", local_var)
    print("Global variable:", global_var)

# Call the function
func()

# Try to access local_var outside the function (will raise NameError)
# print("Outside the function - Local variable:", local_var)

# Access global_var outside the function
print("Outside the function - Global variable:", global_var)

Balance after buying Sunglass 2000

Inside the function:
Local variable: I am a local variable
Global variable: I am a global variable
Outside the function - Global variable: I am a global variable

In [ ]:
#prob 5
#Built-in function
#List exist in 3rd bracket

high = max(5,15,7,3,52,8)
low = min([5,15,7,3,52,8])
print(high,low)

count = len([1,2,3,8,9,-1,77,58])
print(count)

#this bellow line work on pycharm
#total = sum([1,2,3,4,5]) #List er vitor sum function use kora jay
#print("Sum of list = ",total)

52 3
8

In [ ]:
#prob 6
#List, List index func, Slicing operation

# index  = 0  1  2  3  4   5  6  7
numbers = [69,10,20,35,15,17,45,93]
#index   = -8 -7 -6 -5 -4 -3 -2  -1

print(numbers[3])
print(numbers[-3])

#list( start : end-1 ) Slicing
print(numbers[2:7])
print(numbers[:]) #full list print korbe
print(numbers[3:]) #index 3 theke baki sob
print(numbers[:5]) #index 0 to 5
print(numbers[1:7:2])  #(start:end-1:gap or step)
print(numbers[5:0:-1]) #reverse a part of list
print(numbers[::-1]) #reverse fully list

35
17
[20, 35, 15, 17, 45]
[69, 10, 20, 35, 15, 17, 45, 93]
[35, 15, 17, 45, 93]
[69, 10, 20, 35, 15]
[10, 35, 17]
[17, 15, 35, 20, 10]
[93, 45, 17, 15, 35, 20, 10, 69]

In [ ]:
#prob 7
#List Methods

num = [12,45,98,68]

num.append(56) #last e add kore append
print(num)

num.insert(2,71) #2 no indexe 71 add
print(num)


if 8 in num:  # 8 list e nai so error o hobe na remove o hobe na kisu
    num.remove(8)
print(num)
if 98 in num:
    num.remove(98)  #98 list thke remove hobe
print(num)

lst = num.pop()
print(f"List is {num} & Pop item {lst}")

indx = num.index(45) #value er index finding
print("45 is in index ",indx)

#ERROR cz 7 not in the list
# indx1 = num.index(7)
# print("7 is in index: ",indx1)

if 7 in num:   #jodi 7 list e thake tobe index find hobe
    indx1 = num.index(7)
    print(" 7 in index ",indx1)

Sorted = num.sort() #list sort korbe
print(f'Sorted after list is {num}')

num.reverse()
print("After reverse list is : ",num)

[12, 45, 98, 68, 56]
[12, 45, 71, 98, 68, 56]
[12, 45, 71, 98, 68, 56]
[12, 45, 71, 68, 56]
List is [12, 45, 71, 68] & Pop item 56
45 is in index  1
Sorted after list is [12, 45, 68, 71]
After reverse list is :  [71, 68, 45, 12]

In [ ]:
#prob8
#List Comprehension
#Without Comphrension
numbers = [45,87,96,43,65,85,14,26,61,70]
odd = []
for i in numbers:
    if i%2 !=0 and i%5==0:
        odd.append(i)
print("New list",odd)


#With Comphrension
no_list = [1,65,2,5,9,45,85,70,87,96,10,26]

odd_num = [i for i in no_list if i%2==1 and i%5==0]
print("odd number divisible by 5 are in List: ",odd_num)


#Comphrension using neasted Loop
players = ['Shacine','Shakib','Dhoni']
ages = [58,38,42]

age_combo =[[i,j] for i in players for j in ages]
print(age_combo)

New list [45, 65, 85]
odd number divisible by 5 are in List:  [65, 5, 45, 85]
[['Shacine', 58], ['Shacine', 38], ['Shacine', 42], ['Shakib', 58], ['Shakib', 38], ['Shakib', 42], ['Dhoni', 58], ['Dhoni', 38], ['Dhoni', 42]]

**Day 3 : Module 3.1 to 3.9**

In [ ]:
#prob1
#String Immutable and String methods
#String is nothing but a sequence of characters

name = 'Bishal\'s Biswas'  #escape (Cottetion print er jonno)
name2 ="Rakib Bhuiyan"

#multiline string
name3 = """
   Joy khan
   number one
"""

print(name)
print(name2)
print(name3)

for char in name2:
    print(char,end=' ')

print("\nname2 3rd char: ",name2[3])

#Slicing string
print(name2[2:])
print(name[::-1])

#immutable part
#name2[0] = 'S'
#print(name2)

if 'Bhuiyan' in name2:
    print("Exist in name")

#String methods
print(name2.upper())
print(name2.lower())

Bishal's Biswas
Rakib Bhuiyan

   Joy khan
   number one

R a k i b   B h u i y a n
name2 3rd char:  i
kib Bhuiyan
sawsiB s'lahsiB
Exist in name
RAKIB BHUIYAN
rakib bhuiyan

In [ ]:
#prob 2
#Tuples and Tuples methods


#List exist under third bracket
#Tuple exist under 1st bracket
#Tuple is similar as list but not same
#Tuple is immutable
#List/string er moto access kore jay tobe tuple string immutable
def  multiple():
    return 3,4
print(multiple())

things = 'pen','tripod','water bottle','glass','cammera'

print(type(things)) #type check
print(things[1]) #print index 1 value

#Slicing tuple

print(things[3:])
print(things[:5])
print(things[::-1])

#Check item exist or not

if 'tripod' in things:
    print("Yes! it exist in Tuple")

#For loop operation

for item in things:
    print(item,end=' ')

#immutable part
#things[0] = 'Book'
#print(things)

#Tuple methods
print("Length of the tuple is : ",len(things))

#Tuple mutation by help from List

mega = ([2,4,5],[1,3,6],[10,11,12])
print(type(mega))
print(mega[0])
mega[0][2]= 699
print(mega)

(3, 4)
<class 'tuple'>
tripod
('glass', 'cammera')
('pen', 'tripod', 'water bottle', 'glass', 'cammera')
('cammera', 'glass', 'water bottle', 'tripod', 'pen')
Yes! it exist in Tuple
pen tripod water bottle glass cammera Length of the tuple is :  5
<class 'tuple'>
[2, 4, 5]
([2, 4, 699], [1, 3, 6], [10, 11, 12])

In [ ]:
#prob 3
#Set and Set methods
#set: unique items collections
#set doesn,t allow duplicate value & mutable(using function)
#set exist under 2nd bracket {} & set is UnOrdered

numbers = [ 5,12,8,9,9,9,7,13,5,45,69]
print(numbers)
num_set = set(numbers) #list passes into set
print(num_set) #print into 2nd bracket & remove duplicate value
print(type(num_set))

#Set methods
num_set.add(113)
num_set.add(333)
print("After add ",num_set)

num_set.remove(45)
print("After remove 45 ",num_set)

#Loop in set
for i in num_set:
    print(i,end=' ')

#Check exist

if 333 in num_set:
    print("\n333 is exist in Num_set")
elif 45 in num_set:  #nai tai print korbe na
    print("45 also exist in set")

#set Operation methods

A = {1,3,5,7}
B = {1,2,3,4,5,6}
print("A union B = ", A|B) #duitay sob
print("A intersection B = ", A&B) #2 set miliye common jegula
print("B-A = ",B-A) #difference
print("A-B = ",A-B) #difference

[5, 12, 8, 9, 9, 9, 7, 13, 5, 45, 69]
{5, 69, 7, 8, 9, 12, 13, 45}
<class 'set'>
After add  {5, 69, 7, 8, 9, 12, 13, 45, 333, 113}
After remove 45  {5, 69, 7, 8, 9, 12, 13, 333, 113}
5 69 7 8 9 12 13 333 113
333 is exist in Num_set
A union B =  {1, 2, 3, 4, 5, 6, 7}
A intersection B =  {1, 3, 5}
B-A =  {2, 4, 6}
A-B =  {7}

In [ ]:
#prob 4
#Dictionary and Dictionaries methods

#Hash table o bole
# key:value pair vabe thake
# 2nd bracket { } e hoy & mutable

person = {'name':'Bishal','adress':'Dhaka','age':23,'job':'Student'}
print(type(person))
print(person['name'])
print(person['adress'])
print(person.keys())
print(person.values())

#Manual add + Mutation
person['language'] = 'Bangla'
person['name'] = 'Rakib Bhuiyan'
print(person)

#methods

del person['age'] #delete age
print(person)

#Special dictionary For Loop

for i,j in person.items():
    print(i,":",j)

<class 'dict'>
Bishal
Dhaka
dict_keys(['name', 'adress', 'age', 'job'])
dict_values(['Bishal', 'Dhaka', 23, 'Student'])
{'name': 'Rakib Bhuiyan', 'adress': 'Dhaka', 'age': 23, 'job': 'Student', 'language': 'Bangla'}
{'name': 'Rakib Bhuiyan', 'adress': 'Dhaka', 'job': 'Student', 'language': 'Bangla'}
name : Rakib Bhuiyan
adress : Dhaka
job : Student
language : Bangla

In [ ]:
#Prob 5
#List index For Loop with Enumarate function

num = [101,222,131,45,75,69,67,18,19,10]

print("Index : Value")
for i,j in enumerate(num):
    print("\t",i,":",j)

Index : Value
	 0 : 101
	 1 : 222
	 2 : 131
	 3 : 45
	 4 : 75
	 5 : 69
	 6 : 67
	 7 : 18
	 8 : 19
	 9 : 10

In [ ]:
#Prob 6
#Buil in Modules - time,math,random
import time
#Math Library methods
from math import *

res = ceil(4.6)
print("Ceil value of 4.6 is : ",res)
res1 = floor(4.6)
print("Floor value of 4.6 is : ",res1)

#Random Library methods
from random import *

print(random()) #generate random num between 0 to 1
print(randint(1,10)) #Generate random int num 1 to 10
#choice korbe jekono ekta nam randomly
print(choice(['Bishal','Muntasir','Rakib','Shovon','Taufiq']))


#Time Library methods
from time import *
sleep(4)
print("Hello! i am Running late 4 second for sleep methods")

#datetime lib methods
import datetime

# Get the current date and time
current_datetime = datetime.datetime.now()

# Print the current date and time
print("Current Date and Time:", current_datetime)

Ceil value of 4.6 is :  5
Floor value of 4.6 is :  4
0.9163096977520592
2
Bishal
Hello! i am Running late 4 second for sleep methods
Current Date and Time: 2024-05-03 19:47:04.536415

In [ ]:
#prob 7
#Exception Handling- except,try,catch, finally

try:
    result = 45/0
except:
    print("Error Happend")
finally:    #finally thakle error hok ba na hok finally te jabe
    print("Finally always thakbe")
print("Done")


try:
    result =20//5
except:
    print("error happened")
finally:
    print("finally here")

Error Happend
Finally always thakbe
Done
finally here

In [ ]:
#prob 8
# File read write in python

# .csv (comma separated value)
# .txt (text file)
#this program work well in pycharm
with open('message.txt','w') as file:
    file.write('I Love, Python!')

with open('message.txt','r') as file:
    text = file.read()
    print(text)


#From Chatgpt
# Open a file in write mode
file = open("example.txt", "w")
# Write some text to the file
file.write("Hello, world!\n")
file.write("This is a simple Python file.\n")

# Close the file
file.close()

print("File created and written successfully!")

# Open the file in read mode
file = open("example.txt", "r")

# Read and print the contents of the file
file_contents = file.read()
print("Contents of the file:",file_contents)

# Close the file
file.close()

I Love, Python!
File created and written successfully!
Contents of the file: Hello, world!
This is a simple Python file.

In [ ]:
#Prob 9
#Lambda function
#lambda is a keyword

#Rules: Variable = lambda parameter : parameter proccess

#Square a number using lambda function(single parameter)
square = lambda num: num**2
res = square(13)
print("Square Result is ",res)

#double a number using lambda function(single parameter)
double = lambda num : num*2
res1 = double(44)
print("Double Result is ",res1)

#Multiple parameter
add = lambda num1,num2: num1+num2
sum = add(11,33)
print("Sum = ",sum)

Square Result is  169
Double Result is  88
Sum =  44

In [ ]:
#Prob 10
# Map function

#double a list using lambda and Map function
num = [1,2,3,4,5,6]
double_num = map(lambda x: x*2,num)
print(num)
print(list(double_num))

# Cubic a list using lambda and Map function
num1 = [1,2,3,4,5,6]
double_num1 = map(lambda x: x**3,num)
print(num1)
print(list(double_num1))

#Filter function using lambda

actors = [
    {'name':'Sharukh','age':59},
    {'name':'Salman','age':57},
    {'name':'Kiara advani','age':27},
    {'name':'Dipika','age':35}
]

juniors = filter(lambda x:x['age']<40,actors)
print(list(juniors))

seniors = filter(lambda x:x['age']>40,actors)
print(list(seniors))

div_five_age = filter(lambda x:x['age']%5==0,actors)
print(list(div_five_age))

[1, 2, 3, 4, 5, 6]
[2, 4, 6, 8, 10, 12]
[1, 2, 3, 4, 5, 6]
[1, 8, 27, 64, 125, 216]
[{'name': 'Kiara advani', 'age': 27}, {'name': 'Dipika', 'age': 35}]
[{'name': 'Sharukh', 'age': 59}, {'name': 'Salman', 'age': 57}]
[{'name': 'Dipika', 'age': 35}]